<h1>About</h1>
<p>
Welcome to the about page for the Alpha-Blog rails app
<br>
This app was created a part of an online Ruby on Rails course.
</p>
<p>
<%= image_tag 'profile_mk.jpg'%>
</p>
<p>
  Return: <%= link_to 'Home', pages_home_path %>
</p>